<p-card title="Login" class="flex justify-content-center">
  <form [formGroup]="form">
    <div class="flex flex-column gap-2">
      <label for="usuNombre">Usuario:</label>
      <input id="usuNombre" type="text" pInputText formControlName="usuarioNombre"/>
    </div>

    <div class="flex flex-column gap-2">
      <label for="usuClave">Clave:</label>
      <p-password id="usuClave" formControlName="usuarioClave" [feedback]="false"></p-password>
    </div>
    <br/>
    <p-toolbar>
      <div class="p-toolbar-group-center">
        <button pButton icon="pi pi-lock-open" class="mr-2" label="Ingresar" (click)="submit()"></button>
      </div>
    </p-toolbar>
  </form>
</p-card>
