<p-card header="{{selectedId?'Actualizar Fase':'Crear Fase'}}">
  <form [formGroup]="form">
  <div class="flex flex-column gap-2">
    <label for="fasDescripcion">Descripción</label>
    <input pInputText id="fasDescripcion" formControlName="fasDescripcion" />
  </div>

  <div class="flex flex-column gap-2">
    <label for="fasDescripcion">Fecha de registro</label>
      <p-calendar formControlName="fasFechareg"></p-calendar>
  </div>

  <div class="flex flex-column gap-2">
    <label for="fasObservacion">Observación</label>
    <textarea id="fasObservacion" rows="3" cols="30" pInputTextarea formControlName="fasObservacion"></textarea>
  </div>
    <p-toolbar class="p-2">
      <div class="p-toolbar-group-end">
        <div class="mr-1">
        <p-button label="{{actionButtonLabel}}" (click)="emitirAction()"></p-button>
        </div>
        <p-button label="Limpiar" (click)="clear()"></p-button>
      </div>
    </p-toolbar>
  </form>
</p-card>


