<div class="layout-topbar">
  <a class="layout-topbar-logo" routerLink="">
    <img src="assets/layout/images/logoEjercito.png" width="50px" alt="logo">
    <span>RECLUTAMIENTO</span>
  </a>

  <button #menubutton class="p-link layout-menu-button layout-topbar-button">
    <i class="pi pi-bars"></i>
  </button>

  <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button">
    <i class="pi pi-ellipsis-v"></i>
  </button>

  <div #topbarmenu class="layout-topbar-menu">
        <button class="p-link layout-topbar-button">
      <i class="pi pi-user"></i>
      <span>USUARIO</span>
    </button>
    <button class="p-link layout-topbar-button" [routerLink]="'/documentation'">
      <i class="pi pi-cog"></i>
      <span>Settings</span>
    </button>
  </div>
</div>
